@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat';
  background: #232f3f;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  margin: 20px 0;
}

li {
  list-style: none;
}

.cont {
  margin: 0 50px;
}